*{
  box-sizing: border-box;
}
body{
  color:rgb(12, 12, 12)

}
img{
  max-width: 100%;
}
main{
  padding: 10px;
  max-width: 90%;
  margin: 0 auto;
}
header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-top: 20px;
  align-items: center;
  background-color: rgb(124, 124, 124);
  padding: 1rem;
  border-radius: 20px;

}
header a{
  text-decoration: none;
  color:inherit;

}
header a.logo{
  font-weight: bold;
  font-size: 1.5rem;

}
header nav{
  display: flex;
  gap: 15px;

}
div.post{
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-bottom: 25px;
}
@media screen and (min-width:720px) {
  div.post{
  grid-template-columns: 0.5fr 1.5fr;
  }
}

div.post div.image{
  width: 50%;
  display: flex;
  overflow: hidden;

}
div.post-page div.image img{
  object-fit: cover;
  object-position: center center;
  width: 100%;
}
div.post div.texts h2{
  margin: 0;
  font-size: 1.5rem;
  display: inline-block;
}
div.post div.text a{
  text-decoration:none;
  color: inherit;
}
a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}


div.post div.texts p{
  margin: 0;
  font-size: .8rem;
}
div.post p.info{
  margin: 6px 0;
  color: rgb(149, 149, 149);
  font-size: .7rem;
  font-weight: bold;
  display: flex;
  gap: 5px;
}
div.post p.info a.author{
  color: black;
  text-decoration: none;
}
div.post p.summary{
  margin: 10px 0;
  line-height: 1.4rem;
}
form.login, form.register{
  max-width: 400px;
  margin: 0 auto;

}
input{
  display: block;
  margin-bottom: 5px;
  width: 100%;
  padding: 5px 7px;
  border: 5px solid rgb(212, 209, 209);
  border-radius: 5px;
  background-color:rgb(212, 209, 209);
}
button{
  width: 100%;
  display: block;
  background-color: rgb(0, 187, 255);
  color: white;
  border: 0;
  border-radius: 5px;
  padding: 7px;

}
form.login h1, form.register h1{
  text-align: center;
}
div.post-page div.image{
  max-height:300px;
  display: flex;
  overflow:hidden;
}
div.post-page div.image img{
  object-fit:fill;
  object-position: center center;
}
div.post-page a{
  color: #333;
  text-decoration: underline;
}
div.post-page h1{
  text-align: center;
}
div.post-page div.author{
  text-align:right;
  display: block;
  font-size:15px;
}
div.post-page time{
  display: block;
  text-align: right;
  font-size: small;
  color: rgb(189, 189, 189);
  margin-bottom: 5px;
}
div.post-page div.content p{
  line-height: 1.4rem;
}
div.edit-row{
  text-align: right;
  margin-bottom: 10px;
}
div.post-page a.edit-btn{
  text-decoration: none;
  background-color: red;
  color: white;
  padding: 5px;
  border-radius: 10px;
  font-size: small;
}
button.home_logout, button.home_create, button.home_login, button.home_register{
  cursor: pointer;
}